body {
  margin: 0;
  padding: 0;
  background: #F1F1F1;
}

.main {
  padding: 20px 87px 42px 80px;
  height: 682px;
}

.image {
  height: 420px;
  position: absolute;
  right: 81px;
  top: 162px;
}
.image_bottom {
  left: 80px;
  top: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__leftside img {
  margin-right: 10px;
  height: 22px;
}
.nav__rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__rightside a {
  text-decoration: none;
  margin-right: 40px;
}
.nav__rightside a:last-child {
  margin-right: 0;
}
.nav__rightside a:hover {
  text-decoration: underline;
}
.nav__rightside a:hover:last-child {
  text-decoration: none;
}

.text {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #000;
}
.text_logo {
  font-size: 18px;
  text-transform: capitalize;
}
.text_started {
  -webkit-transition: 0.4s background;
  transition: 0.4s background;
}
.text_started:hover {
  color: #fff;
  cursor: pointer;
  background: #712FFF;
}
.text_header {
  display: inline-block;
  width: 445px;
  font-weight: 700;
  font-size: 54px;
  text-align: left;
  line-height: 64px;
  margin: 147px 0 32px 0;
}
.text_subheader {
  width: 478px;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 48px;
}
.text_hiw_descr {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 12px;
}
.text_hiw_header {
  font-weight: 700;
  font-size: 54px;
  line-height: 56px;
  margin-bottom: 86px;
}
.text_hiw_title {
  font-weight: 700;
  font-size: 24px;
}
.text_hiw_subtitle {
  font-size: 16px;
}
.text_started_header {
  font-size: 54px;
  line-height: 64px;
  text-align: left;
  margin-bottom: 32px;
}
.text_started_subheader {
  text-align: left;
  width: 478px;
  font-size: 16px;
  margin-bottom: 32px;
}
.text_cv_header {
  text-align: left;
  font-size: 54px;
  margin-bottom: 32px;
}
.text_cv_subheader {
  text-align: left;
  width: 478px;
  font-size: 16px;
  margin-bottom: 32px;
}
.text_socials {
  font-size: 14px;
  color: #081E34;
  display: inline-block;
  margin-right: 35px;
  font-family: Inter, sans-serif;
}
.text_credits {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  color: #081E34;
  opacity: 0.5;
  margin-left: 554px;
  text-align: right;
}
.text_credits a {
  text-decoration: none;
  color: #081E34;
}
.text_bottom {
  margin-top: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #081E34;
  text-align: right;
}

.button {
  width: 102px;
  height: 38px;
  background: rgba(8, 30, 52, 0.12);
  font-family: Kanit, sans-serif;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.button_how-it-works {
  width: 144px;
  height: 50px;
  background: #712FFF;
  color: #fff;
}
.button_search {
  background: #712FFF;
  height: 50px;
  width: 106px;
  color: #fff;
  margin-left: 32px;
  height: 50px;
}
.button_cv {
  background: #712FFF;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}
.button_cv img {
  margin-right: 8px;
}

.how-it-works {
  height: 462px;
  padding: 103px 80px 103px 131px;
  background: #E1DEE7;
  border-radius: 32px;
}

.grid-container {
  display: grid;
  height: 186px;
  width: 100%;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
}
.grid-container img {
  height: 64px;
}

.started {
  height: 486px;
  padding: 100px 603px 80px 80px;
}
.started__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.started__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 13px;
  height: 50px;
  width: 619px;
  background: #FFFFFF;
  border-radius: 12px;
}
.started__search img {
  height: 24px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.started__search input {
  border: 0;
  width: 100%;
  padding-left: 12px;
  border-radius: 12px;
  font-family: Kanit, sans-serif;
  font-size: 16px;
  opacity: 0.2;
}
.started__search input:focus {
  outline: none;
}

.cv {
  position: relative;
  height: 548px;
}
.cv__wrapper {
  margin-left: 907px;
  padding-top: 103px;
}

footer {
  height: 122px;
  padding: 42px 80px 32px 80px;
  background: #fff;
  border-radius: 15px;
  border-radius: 32px 32px 0px 0px;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .socials img {
  margin-right: 35px;
  border-radius: 7px;
}
footer .socials img:hover {
  background: cyan;
}/*# sourceMappingURL=style.css.map */